Repository Alpha-ka-JS/React, pull requests merged in 2021-03, with the labels that each got.

#1 [chapter1] react movie app setup
  LeeJehwan/movie/.gitignore
  LeeJehwan/movie/README.md
  LeeJehwan/movie/package-lock.json
  LeeJehwan/movie/package.json
  LeeJehwan/movie/public/favicon.ico
  LeeJehwan/movie/public/index.html
  LeeJehwan/movie/public/logo192.png
  LeeJehwan/movie/public/logo512.png
  LeeJehwan/movie/public/manifest.json
  LeeJehwan/movie/public/robots.txt
  LeeJehwan/movie/src/App.js
  LeeJehwan/movie/src/index.js
Labels: jehwan

#2 day1 study
  AhnDaeHyun/Chapter0.md
  AhnDaeHyun/Chapter1.md
  AhnDaeHyun/movie/.gitignore
  AhnDaeHyun/movie/README.md
  AhnDaeHyun/movie/package-lock.json
  AhnDaeHyun/movie/package.json
  AhnDaeHyun/movie/public/favicon.ico
  AhnDaeHyun/movie/public/index.html
  AhnDaeHyun/movie/public/logo192.png
  AhnDaeHyun/movie/public/logo512.png
  AhnDaeHyun/movie/public/manifest.json
  AhnDaeHyun/movie/public/robots.txt
  AhnDaeHyun/movie/src/App.js
  AhnDaeHyun/movie/src/index.js
Labels: daehyun

#3 [Chapter1] React Setup
  JeongSungwon/movie/.gitignore
  JeongSungwon/movie/README.md
  JeongSungwon/movie/package-lock.json
  JeongSungwon/movie/package.json
  JeongSungwon/movie/public/favicon.ico
  JeongSungwon/movie/public/index.html
  JeongSungwon/movie/public/logo192.png
  JeongSungwon/movie/public/logo512.png
  JeongSungwon/movie/public/manifest.json
  JeongSungwon/movie/public/robots.txt
  JeongSungwon/movie/src/App.js
  JeongSungwon/movie/src/index.js
Labels: sungwon

#5 [Chapter2] JSX & PROPS
  JeongSungwon/movie/package.json
  JeongSungwon/movie/src/App.js
  JeongSungwon/movie/내용 정리/Chapter2.md
Labels: sungwon

#4 feat(github): add fetch script
  fetch.sh
Labels: jehwan

#7 [chapter2] JSX & PROPS
  LeeJehwan/movie/package.json
  LeeJehwan/movie/src/App.js
Labels: jehwan

#8 map, prop-types
  AhnDaeHyun/movie/package.json
  AhnDaeHyun/movie/src/App.js
Labels: daehyun

#12 [Circleci] cd test
  .circleci/check.sh
  .circleci/config.yml
  LeeJehwan/movie/package-lock.json
  LeeJehwan/movie/package.json
Labels: jehwan

#11 [Chapter5] CONCLUSIONS
  LeeJehwan/movie/package-lock.json
  LeeJehwan/movie/package.json
Labels: jehwan

#9 Daehyun chapter3
  AhnDaeHyun/Chapter2.md
  AhnDaeHyun/Chapter3.md
  AhnDaeHyun/movie/src/App.js
Labels: daehyun

#14 [circleci] add git ssh key
  .circleci/config.yml
Labels: jehwan

#10 [Chapter3] STATE
  LeeJehwan/movie/src/App.js
Labels: jehwan

#13 [Chapter5]package.json modify
  AhnDaeHyun/movie/package-lock.json
  AhnDaeHyun/movie/package.json
Labels: daehyun

#15 Fix cd
  AhnDaeHyun/movie/package.json
  LeeJehwan/movie/package.json
Labels: jehwan

#17 [Chapter5] Conclusions
  JeongSungwon/movie/package-lock.json
  JeongSungwon/movie/package.json
Labels: sungwon

#19 [Chapter4] MAKING THE MOVIE APP
  LeeJehwan/movie/package-lock.json
  LeeJehwan/movie/package.json
  LeeJehwan/movie/src/App.css
  LeeJehwan/movie/src/App.js
  LeeJehwan/movie/src/Movie.css
  LeeJehwan/movie/src/Movie.js
  LeeJehwan/movie/src/logo.png
Labels: jehwan

#16 [Chapter1][Chapter5] Added initial folder.
  hamjins/movie/.gitignore
  hamjins/movie/README.md
  hamjins/movie/package-lock.json
  hamjins/movie/package.json
  hamjins/movie/public/favicon.ico
  hamjins/movie/public/index.html
  hamjins/movie/public/logo192.png
  hamjins/movie/public/logo512.png
  hamjins/movie/public/manifest.json
  hamjins/movie/public/robots.txt
  hamjins/movie/src/App.js
  hamjins/movie/src/index.js
  hamjins/movie/src/reportWebVitals.js
  package-lock.json
Labels: hamjins

#22 [Chapter1] FUNDAMENTALS
  LeeJehwan/netflix/chapter1/index.html
  LeeJehwan/netflix/chapter1/index.js
Labels: jehwan

#21 [Chapter6] ROUTING BONUS
  LeeJehwan/movie/package-lock.json
  LeeJehwan/movie/package.json
  LeeJehwan/movie/src/App.css
  LeeJehwan/movie/src/App.js
  LeeJehwan/movie/src/Movie.js
  LeeJehwan/movie/src/components/Movie.css
  LeeJehwan/movie/src/components/Movie.js
  LeeJehwan/movie/src/components/Navagation.css
  LeeJehwan/movie/src/components/Navigation.js
  LeeJehwan/movie/src/img/logo.png
  LeeJehwan/movie/src/routes/About.css
  LeeJehwan/movie/src/routes/About.js
  LeeJehwan/movie/src/routes/Detail.css
  LeeJehwan/movie/src/routes/Detail.js
  LeeJehwan/movie/src/routes/Home.css
  LeeJehwan/movie/src/routes/Home.js
Labels: jehwan
